{% extends 'base.html' %}

{% block content %}
<h1>Результаты поиска</h1>
{% if results %}
<div class="row">
    {% for movie in results %}
    <div class="col-md-3 mb-4">
        <div class="card">
            <img src="../static/{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>Фильмы не найдены.</p>
{% endif %}
{% endblock %}
